.page {
  display: flex;
}

.main-page {
  width: 100%;
  flex: 1;
}

.top-section {
  padding: 30px;
  background-color: #1a1a1a;
  position: relative;
}

.bottom-section {
  background-color: #bf7232;
  padding-top: 20px;
}

.light {
  .top-section {
    background-color: white;
  }

  .bottom-section {
    background-color: #afdffa;
  }
}
